* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  list-style: none;
}

  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Comfortaa:wght@300;600&family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,700;1,100&family=Saira:ital,wght@0,300;0,500;0,600;0,700;0,800;1,100;1,500;1,700;1,800&family=Sofia+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

html{
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: 100vh;

  background: linear-gradient(rgba(0, 0, 0, 0.612), rgba(0, 0, 0, 0.648)),
    url(./images/headerbg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*start  navigation bar */

nav{
  display: flex;
  padding: 10px 40px;
  justify-content: space-between;
  background-color: #272727;
  
  
}
.logo{
  color: white;
  font-size: 25px;
}
nav ul{
  display: flex;
}
nav ul li{
  padding: 0 20px;
  font-size: 20px;
}
nav ul li a{
  color: aliceblue;
  position: relative;
}
nav ul li a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: gold;
  bottom: 0%;
  left: 0;
  transform: scaleX(0);
  transition: .3s ease-in-out;

}
nav ul li a:hover::after{
  transform: scaleX(1);
}
.fa-xmark{
  visibility: hidden;
}
.fa-bars{
  visibility: hidden;
}

/*start  navigation bar */

/*start  small screen design */

@media (max-width:800px){
nav ul{
  display: block;
  position: absolute;
  background-color: #272727;
  width: 60%;
right: 0;
height: 100vh;
z-index: 3;
transform:scaleX(0);
transition: .3s;
}
nav ul li{
  display: flex;
  justify-content: center;
  padding-top: 3em;
}
.fa-xmark{
  padding-left: 2em;
  color: aliceblue;
  font-size: 20px;
  cursor: pointer;
  visibility: visible;
}
.fa-bars{
  color: lavenderblush;
  font-size: 20PX;
  cursor: pointer;
  visibility: visible;
}
.menu{
  transform: scaleX(1);
}



}






/*end  small screen design */








/* end of navigation bar */
.heading {
  margin-left: 10em;
  padding-top: 14em;
}
.heading h1 {
  text-transform: uppercase;
  font-size: 4em;
  color: gold;
  text-shadow: 2px 2px 3px black;
}

.heading p {
  text-transform: uppercase;
  font-size: 4em;
  color: gold;
  text-shadow: 2px 2px 3px black;
}
.animate__animated.animate__fadeInLeft {
  --animate-duration: 1s;
}
.para.animate__animated.animate__fadeInLeft {
  --animate-duration: 5s;
}

@media (max-width: 800px) {
  .heading h1 {
    font-size: 50px;
    padding-left: 0;
  }
  .heading p {
    font-size: 1em;
    padding-left: 0;
  }
  .heading {
    margin-left: 2em;
  }
 
}

/* service section */
.services {
  width: 100%;
  min-height: 100vh;
  padding-top: 5em;
  background-color: #272727;
}
.servicetop {
  padding-left: 4em;
}
.servicetop h1 {
  font-size: 2em;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px black;
  color: goldenrod;
}
.servicecontainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3em;
  width: 90%;
  padding: 0 20px;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
}
.eachservice {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  margin-bottom: 2em;
  min-height: 300px;

  justify-content: center;
  border-radius: 6px;
  padding: 2em 2em;
  background-color: #323232;
  box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
}
.eachservice h3 {
  color: aliceblue;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 2px 2px 3px black;
}
.eachservice p {
  text-align: left;
  color: rgba(255, 228, 196, 0.877);
  font-family: "Poppins";
  padding-top: 2em;
}
.serviceicon i {
  font-size: 60px;
  color: goldenrod;
}
.serviceicon {
  padding-bottom: 1em;
}

/* pricing section */
.topic {
  color: aliceblue;
}

.eachprice {
  background-color: #272727;
  border: none;
  box-shadow: none;
  cursor: pointer;
  transition: 1s ease-in-out;
  padding-top: 10px;
  
}
.eachprice:hover {
  box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
  border-radius: 10px;
}
.eachprice h3 {
  font-size: 2em;
  padding-bottom: 1em;
}
.eachprice h1 {
  color: gold;
  font-size: 2em;
}
.eachprice a {
  text-decoration: none;
  cursor: pointer;
}

/* customer review section */
.imageHeading img {
  width: 100%;
  border-radius: 50%;
}
.imageHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.imgHolder {
  width: 80px;
  height: 60px;

  border-radius: 50%;
}

.testimonials a {
  text-decoration: none;
  color: gold;
  padding-top: 6px;
  transition: 0.5s ease-out;
}
.testimonials a:hover {
  color: aliceblue;
}
.testimonials {
  border-top-left-radius: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 0;
  transition: 0.5s ease-in-out;
}
.testimonials:hover {
  transform: translateY(-7px);
}

/* footer section */
#footer {
  width: 100%;
  min-height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.721), rgba(0, 0, 0, 0.89)),
    url(./images/footer2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px 40px;
  color: beige;
}
hr {
  outline: none;
}

.footercontainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 30px;
}
.footercontainer i {
  padding-right: 10px;
}
.footercontainer h4 {
  text-align: center;
  padding-bottom: 10px;
  color: blanchedalmond;
  text-transform: uppercase;
}

.socials {
  display: flex;

  justify-content: center;
}
hr {
  margin: 30px 60px;
  padding: 0;
  color: white;
  background-color: white;
}
.socials a {
  padding: 20px;
}
.socials i {
  font-size: 25px;
  color: white;
  transition: 0.5s ease-in-out;
}
.socials i:hover {
  color: goldenrod;
}

@media (max-width: 800px) {
  .socials i {
    font-size: 15px;
  }
  .servicetop {
    padding-left: 2em;
  }
  .servicetop h1 {
    font-size: 1em;
  }
  #footer {
    padding-left: 20px;
  }
  .serviceicon i {
    font-size: 40px;
  }
  .eachprice h3 {
    font-size: 1em;
  }
  .eachservice p {
    text-align: center;
  }
  .eachprice {
    box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
  }
  .servicecontainer{
    padding-right: 0;
  }
  p{
    font-size: 12px;
  }
}


@media (max-width:400px) {
  nav ul li{
    font-size: 18px;
  }
  .logo{
    font-size: 18px;
  }
  .paertB{
    padding-left: 0;
  }
  
}
small{
  width: 100%;
  
  text-align: center;
  font-family: 'Roboto', sans-serif;
left: 50%;}
.copyright{
  text-align: center;
}
small i{
  margin-right: 5px;
}




/* reducing padding and font of the nav */
